.header__lang-link {
    text-decoration: none;
    color: white;
    font: normal 24px/28px 'inter', 'Arial', 'sans-serif';
    font-weight: 400;
    align-self: center;
    justify-self: end;
    grid-column: 5;
    grid-row: 2;
    margin: 0;
    padding-top: 18px;
    max-width: 30px;
    max-height: 28px;
}

.header__lang-link:hover {
    opacity: 0.8;
}


@media screen and (max-width: 320px) {
    .header__lang-link {
        max-width: 22px;
        max-height: 20px;
        padding-top: 14px;
        line-height: 1.11111;
        font-size: 18px;
    }
}