.header__lang-link {
    text-decoration: none;
    color: white;
    font: normal 24px/28px 'inter', 'Arial', 'sans-serif';
    font-weight: 400;
    align-self: center;
    justify-self: end;
    grid-column: 5;
    grid-row: 2;
    margin: 0;
    padding-top: 18px;
    min-width: 30px;
    min-height: 28px;
}

.header__lang-link:nth-of-type(1) {
    text-decoration: underline;
    grid-column: 3;
    grid-row: 2;
   
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        width: 22px;                       
        height: 20px;
        padding-top: 14px;
        min-width: 22px;
        line-height: 1.11111;
        font-size: 18px;
    }
}