

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: 0;
    width: calc(100% - 96px);
    padding-bottom: 92px;
    
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 264px);
        gap: 16px;
        width: calc(100% - 48px);
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        width: calc(100% - 32px);
        grid-template-columns: 288px;
        grid-template-rows: repeat(12, 216px);
        gap: 12px;
        padding-bottom: 64px;
    }
}