.places {
    max-width: calc(100% - 296px);
    display: grid;
    row-gap: 80px;
    grid-template-rows: min-content;
}

@media screen and (max-width: 1024px) {
    .places {
       max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
  .places {
     max-width: calc(100% - 48px);
     row-gap: 71px;
  }
}


@media screen and (max-width: 450px) {
  .places {
   display: grid;
   max-width: 100%;
   grid-template-rows: min-content;
   gap: 50px;
  }
}

 