.lead {
    display: grid;
    justify-items: center;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: 56px max-content 32px min-content 64px min-content 8px min-content;
    max-width: calc(100% - 296px);
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: calc(100% - 96px);
        grid-template-rows: 48px max-content 32px min-content 56px min-content 8px min-content;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        grid-template-rows: 48px max-content 16px min-content 40px min-content 8px min-content;
    }
  }
