.header__logo {
    max-width: 176px;
    max-height: 52px;
    grid-column-start: 2;
    grid-row: 2;
}

@media screen and (max-width: 400px) {
    .header__logo {
        max-width: 142px;
        max-height: 42px;
    }
}