.header {
    width: calc(100% - 96px);    
    display: grid;
    grid-template-columns:  min-content 1fr min-content 18px min-content ;
    grid-template-rows: 28px 1fr;
    justify-items: start;
    padding: 0px;
    margin: 0px;
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 32px);
        grid-template-rows: 16px 1fr;
    }
}