.lead__title {
    color: #FFFFFF;
    width: calc(100% - 264px);
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.0416;
    margin: 0px;
    padding: 0px;
    grid-row: 2;
}

@media screen and (max-width: 1024px) {
    .lead__title {
        width: calc(100% - 208px);
        
    }
}

@media screen and (max-width: 768px) {
    .lead__title {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        width: calc(100% - 32px);
        font-size: 40px;
        line-height: 1.1;
    }
}