.intro__title {
    width: 100%;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.074;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    grid-row: 2;
    grid-column: 2;
}

@media screen and (max-width: 370px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.093;
    }
}
